.list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.75s linear;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  list-style: none;
  color: var(--white-color);
  font-size: 28px;
  padding-left: 25px;
  padding-top: 70px;
}

.list.active {
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0%);
}

.item {
  font-weight: 600;
  font-size: 30px;
  max-width: 80%;
  padding: 8px;
  border-bottom: 1px solid black;
}

.menuBtn {
  z-index: 3;
}
