:root {
  --background: #ffffff;
  --foreground: #171717;
  --max-width:1440px;
  --secondary-color:#3FA72F;
}


html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


ul,
ol {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    font-size: var(--input-text-font-size);
}

input::placeholder {
    color: var(--color-placeholder);
    font-size: var(--input-text-font-size);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    width: 100%;
}

input[type="text"],
input[type="number"],
textarea {
    font-size: 16px !important;
}


a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container{
  max-width:var(--max-width) ;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}